<!DOCTYPE html>
<html>
    <head>
        <title>회원가입</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type ="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    </head>
    <body>
        <h1><b>Sign up</b></h1>
        <div class="form-group" style="width: 700px;">
            
            <div style="width:500px;">
                <label for="NewID" style="float:left;">ID</label>
                <input class="form-control" type ="text" placeholder="6자 이상" style="width:200px; float:left; margin-left:10px;">
            <button type="button" class="btn btn-success" >확인</button><br>
        </div>
         <div style="width:300px;">
        <label for="NewNickname" style="float:left;">닉네임</label>
            <input class="form-control" type ="text" placeholder="3자 이상" style="width:200px"><br>
            </div>
         <div style="width:500px;">
        <label for = "NewPassword" style="float:left;">비밀번호</label>
            <input class="form-control" type ="password" placeholder="최소 8자 이상" style="width: 200px"><br>
            </div>
            <div style="width:500px;">
             <label for = "CheckPassword" style="float:left;">비밀번호 확인</label>
            <input class="form-control" type ="password" style="width: 200px"><br>
            </div>
         <div style="width:500px;">
        <label for ="Name" style="float:left;">이름</label>
            <input class="form-control" type ="text" style="width: 200px"><br>
            </div>
             <div style="width:500px;"> 
             <label for="PhoneNumber" style="float:left;">휴대폰 번호</label>
            <input class="form-control" type ="text" style="width: 200px; float:left; margin-left: 10px" >
            <button type="button" class="btn btn-success" >확인</button><br>
            </div>
             <div style="width:500px;">
                  <label for="Birthday" style="float:left;">생일</label>
            <input class="form-control" type ="date" style="width: 200px"><br>   
            </div>
                 <button type="button" class="btn btn-success" onclick = "location.href='/'" >취소</button>
        <input class="btn btn-success" type ="submit" value="확인>
            </div>
    </body>
</html>